Package: com.brend0n.ccnoisecontrol
Name: CCNoiseControl
Depends: mobilesubstrate, com.opa334.ccsupport
Version: 0.0.2
Architecture: iphoneos-arm
Description: A Control Center Module to switch NoiseCancellation/Transparency. (Airpods Pro/Max)
 A Control Center Module to switch NoiseCancellation/Transparency. (Airpods Pro/Max)
 0.0.2: Fix icon on iOS 13
Maintainer: Brend0n <brendonjkding@126.com>
Author: Brend0n <brendonjkding@126.com>
Section: Control Center (Modules)
